<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Les témoignages</title>
</head>

<body>
    <!-- DEBUT DU HEADER -->
    <header>
        <!-- DEBUT DE LA NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img
                        src="https://png.pngtree.com/element_our/png/20180911/background-material-design-for-lorem-ipsum-logo-png_89719.jpg"
                        alt="" class="logoHeader"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../template/diff.html">Les différents types de handicaps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../template/tem.html">Témoignages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../template/ressources.html">Ressources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../template/apropos.html">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Nous contacter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- FIN DE LA NAVBAR -->
    </header>
    <!-- FIN DU HEADER -->

    <!-- DEBUT DU CONTENU -->
    <main>
        <!-- DEBUT DE LA PRESENTATION -->
        <section>

            <div>
                <h1 class="titrehandi">Les témoignages</h1>

                <p class="presentation"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laboriosam ea
                    praesentium
                    consequatur
                    eligendi
                    eveniet illum excepturi explicabo molestias repellendus beatae consequuntur velit, nobis laborum!
                    Neque
                    praesentium distinctio doloribus quaerat.
                </p>
            </div>
        </section>
        <!-- FIN DE LA PRESENTATION -->

        <!-- DEBUT DU CONTENU -->
        <section>
            <article class="fond">
                <h2 class="titreg">Témoignages récents</h2>
                <article class="article">
                    <h2>
                        Prénom
                    </h2>

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi9HWS0tm06QYQjeP7nf7uc24ynTxkxfj8aA&s"
                        alt="">

                    <p class="txtarticle">
                        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dicta aut nam fuga, quas a unde
                        adipisci voluptatibus nobis velit quasi. Consequatur eligendi adipisci veniam vero porro a quas
                        obcaecati."
                    </p>
                </article>

                <article class="article">
                    <h2>
                        Prénom
                    </h2>

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi9HWS0tm06QYQjeP7nf7uc24ynTxkxfj8aA&s"
                        alt="">

                    <p class="txtarticle">
                        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dicta aut nam fuga, quas a unde
                        adipisci voluptatibus nobis velit quasi. Consequatur eligendi adipisci veniam vero porro a quas
                        obcaecati.
                    </p>
                </article>

                <article class="article">
                    <h2>
                        Prénom
                    </h2>

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi9HWS0tm06QYQjeP7nf7uc24ynTxkxfj8aA&s"
                        alt="">

                    <p class="txtarticle">
                        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dicta aut nam fuga, quas a unde
                        adipisci voluptatibus nobis velit quasi. Consequatur eligendi adipisci veniam vero porro a quas
                        obcaecati."
                    </p>
                </article>
            </article>
        </section>

        <!-- DEBUT DU FORMULAIRE DE CONTACT -->
        <section class="contact" id="contact">
            <form action="">
                <fieldset>
                    <legend class="legcontact">Nous contacter</legend>

                    <div class="formcontact">
                        <div>
                            <label for="name">Prénom :</label>
                            <input type="text" name="name" id="name" placeholder="Votre prénom" required>
                        </div>

                        <div>
                            <label for="mail">Mail :</label>
                            <input type="email" name="mail" id="mail" placeholder="Votre mail" required>
                        </div>
                    </div>
                    <div>
                        <label for="name">Message :</label>
                        <textarea name="message" id="message" placeholder="Votre message" required></textarea>
                    </div>


                    <label for="submit"></label>
                    <input type="submit" value="Envoyer" id="submit">
                </fieldset>
            </form>
        </section>
        <!-- FIN DU FORMULAIRE DE CONTACT -->
        </section>
        <!-- FIN DU CONTENU -->

    </main>
    <!-- DIN DU CONTENU -->

    <!-- DEBUT DU FOOTER -->
    <footer>
        <section class="footer">
            <div>
                <p>Mentions légales</p>
                <p>Copyright</p>
            </div>

            <div class="logofooter">
                <img src="../assets/images/x-twitter-logo-png avec arrière-plan supprimé.png" alt="">
                <img src="../assets/images/logo-instagram-noir-png avec arrière-plan supprimé.png" alt="">
            </div>
        </section>
    </footer>
    <!-- FIN DU FOOTER -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>